transformers
torch
datasets
accelerate
sentencepiece
peft
bitsandbytes
langchain
langchain-core
langchain-community
pymupdf
pypdf
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv